@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-rbm6sy');
	src:url('../fonts/icomoon.eot?#iefix-rbm6sy') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-rbm6sy') format('woff'),
		url('../fonts/icomoon.ttf?-rbm6sy') format('truetype'),
		url('../fonts/icomoon.svg?-rbm6sy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*BASES ICONES*/
.icon-googleplus:before {
	content: "\e764";
}

.icon-googleplus2:before {
	content: "\e765";
}
.icon-googleplus3:before {
	content: "\e766";
}
.icon-googleplus4:before {
	content: "\e767";
}
.icon-google-drive:before {
	content: "\e768";
}
.icon-vimeo3:before {
	content: "\e777";
}
.icon-lanyrd:before {
	content: "\e778";
}
.icon-flickr:before {
	content: "\e779";
}
.icon-flickr2:before {
	content: "\e77a";
}
.icon-flickr3:before {
	content: "\e77b";
}
.icon-github3:before {
	content: "\e78a";
}
.icon-github4:before {
	content: "\e78b";
}
.icon-github5:before {
	content: "\e78c";
}
.icon-wordpress:before {
	content: "\e78d";
}
.icon-wordpress2:before {
	content: "\e78e";
}
.icon-skype:before {
	content: "\e79d";
}
.icon-reddit:before {
	content: "\e79e";
}
.icon-linkedin:before {
	content: "\e79f";
}
.icon-lastfm:before {
	content: "\e7a0";
}
.icon-lastfm2:before {
	content: "\e7a1";
}
.icon-yelp:before {
	content: "\e7b0";
}
.icon-libreoffice:before {
	content: "\e7b1";
}
.icon-file-pdf:before {
	content: "\e7b2";
}
.icon-file-openoffice:before {
	content: "\e7b3";
}
.icon-file-word:before {
	content: "\e7b4";
}
.icon-store:before {
	content: "\e7c3";
}
.icon-out:before {
	content: "\e7c4";
}
.icon-in:before {
	content: "\e7c5";
}
.icon-in-alt:before {
	content: "\e7c6";
}
.icon-home4:before {
}
.icon-lightbulb:before {
	content: "\e7c8";
}
.icon-anchor:before {
	content: "\e7c9";
}
.icon-feather:before {
	content: "\e7ca";
}
.icon-expand3:before {
	content: "\e7cb";
}
.icon-maximize:before {
	content: "\e7cc";
}
.icon-search2:before {
	content: "\e7cd";
}
.icon-zoomin2:before {
	content: "\e7ce";
}
.icon-zoomout2:before {
	content: "\e7cf";
}
.icon-add:before {
	content: "\e7d0";
}
.icon-subtract:before {
	content: "\e7d1";
}
.icon-exclamation:before {
	content: "\e7d2";
}
.icon-question2:before {
	content: "\e7d3";
}
.icon-close2:before {
	content: "\e7d4";
}
.icon-cmd:before {
	content: "\e7d5";
}
.icon-forbid:before {
	content: "\e7d6";
}
.icon-book2:before {
	content: "\e7d7";
}
.icon-spinner7:before {
	content: "\e7d8";
}
.icon-play4:before {
	content: "\e7d9";
}
.icon-stop3:before {
	content: "\e7da";
}
.icon-pause3:before {
	content: "\e7db";
}
.icon-forward4:before {
	content: "\e7dc";
}
.icon-rewind:before {
	content: "\e7dd";
}
.icon-sound:before {
	content: "\e7de";
}
.icon-sound-alt:before {
	content: "\e7df";
}
.icon-soundoff:before {
	content: "\e7e0";
}
.icon-task:before {
	content: "\e7e1";
}
.icon-inbox:before {
	content: "\e7e2";
}
.icon-inbox-alt:before {
	content: "\e7e3";
}
.icon-envelope2:before {
	content: "\e7e4";
}
.icon-compose:before {
	content: "\e7e5";
}
.icon-newspaper2:before {
	content: "\e7e6";
}
.icon-newspaper-alt:before {
	content: "\e7e7";
}
.icon-clipboard:before {
	content: "\e7e8";
}
.icon-calendar3:before {
	content: "\e7e9";
}
.icon-hyperlink:before {
	content: "\e7ea";
}
.icon-trash:before {
	content: "\e7eb";
}
.icon-trash-alt:before {
	content: "\e7ec";
}
.icon-grid:before {
	content: "\e7ed";
}
.icon-grid-alt:before {
	content: "\e7ee";
}
.icon-menu3:before {
	content: "\e7ef";
}
.icon-list3:before {
	content: "\e7f0";
}
.icon-gallery:before {
	content: "\e7f1";
}
.icon-calculator:before {
	content: "\e7f2";
}
.icon-windows2:before {
	content: "\e7f3";
}
.icon-browser:before {
	content: "\e7f4";
}
.icon-alarm3:before {
	content: "\e7f5";
}
.icon-clock3:before {
	content: "\e7f6";
}
.icon-attachment2:before {
	content: "\e7f7";
}
.icon-settings2:before {
	content: "\e7f8";
}
.icon-portfolio:before {
	content: "\e7f9";
}
.icon-user5:before {
	content: "\e7fa";
}
.icon-users3:before {
	content: "\e7fb";
}
.icon-heart3:before {
	content: "\e7fc";
}
.icon-chat:before {
	content: "\e7fd";
}
.icon-comments:before {
	content: "\e7fe";
}
.icon-screen2:before {
	content: "\e7ff";
}
.icon-iphone:before {
	content: "\e800";
}
.icon-ipad:before {
	content: "\e801";
}
.icon-forkandspoon:before {
	content: "\e802";
}
.icon-forkandknife:before {
	content: "\e803";
}
.icon-instagram2:before {
	content: "\e804";
}
.icon-facebook4:before {
	content: "\e805";
}
.icon-delicious2:before {
	content: "\e806";
}
.icon-googleplus5:before {
	content: "\e807";
}
.icon-dribbble4:before {
	content: "\e808";
}
.icon-pin:before {
	content: "\e809";
}
.icon-pin-alt:before {
	content: "\e80a";
}
.icon-camera3:before {
	content: "\e80b";
}
.icon-brightness:before {
	content: "\e80c";
}
.icon-brightness-half:before {
	content: "\e80d";
}
.icon-moon:before {
	content: "\e80e";
}
.icon-cloud2:before {
	content: "\e80f";
}
.icon-circle-full:before {
	content: "\e810";
}
.icon-circle-half:before {
	content: "\e811";
}
.icon-globe2:before {
	content: "\e812";
}
.icon-heart4:before {
	content: "\e813";
}
.icon-cloud3:before {
	content: "\e814";
}
.icon-star4:before {
	content: "\e815";
}
.icon-tv2:before {
	content: "\e816";
}
.icon-sound2:before {
	content: "\e817";
}
.icon-video:before {
	content: "\e818";
}
.icon-trash2:before {
	content: "\e819";
}
.icon-user6:before {
	content: "\e81a";
}
.icon-key3:before {
	content: "\e81b";
}
.icon-search3:before {
	content: "\e81c";
}
.icon-settings3:before {
	content: "\e81d";
}
.icon-camera4:before {
	content: "\e81e";
}
.icon-tag2:before {
	content: "\e81f";
}
.icon-lock3:before {
	content: "\e820";
}
.icon-bulb:before {
	content: "\e821";
}
.icon-pen2:before {
	content: "\e822";
}
.icon-diamond:before {
	content: "\e823";
}
.icon-display:before {
	content: "\e824";
}
.icon-location3:before {
	content: "\e825";
}
.icon-eye3:before {
	content: "\e826";
}
.icon-bubble3:before {
	content: "\e827";
}
.icon-stack2:before {
	content: "\e828";
}
.icon-cup:before {
	content: "\e829";
}
.icon-phone2:before {
	content: "\e82a";
}
.icon-news:before {
	content: "\e82b";
}
.icon-mail5:before {
	content: "\e82c";
}
.icon-like:before {
	content: "\e82d";
}
.icon-photo:before {
	content: "\e82e";
}
.icon-note:before {
	content: "\e82f";
}
.icon-clock4:before {
	content: "\e830";
}
.icon-paperplane:before {
	content: "\e831";
}
.icon-params:before {
	content: "\e832";
}
.icon-banknote:before {
	content: "\e833";
}
.icon-data:before {
	content: "\e834";
}
.icon-music2:before {
	content: "\e835";
}
.icon-megaphone:before {
	content: "\e836";
}
.icon-study:before {
	content: "\e837";
}
.icon-lab2:before {
	content: "\e838";
}
.icon-food2:before {
	content: "\e839";
}
.icon-t-shirt:before {
	content: "\e83a";
}
.icon-fire2:before {
	content: "\e83b";
}
.icon-clip:before {
	content: "\e83c";
}
.icon-shop:before {
	content: "\e83d";
}
.icon-calendar4:before {
	content: "\e83e";
}
.icon-wallet:before {
	content: "\e83f";
}
.icon-vynil:before {
	content: "\e840";
}
.icon-truck2:before {
	content: "\e841";
}
.icon-world:before {
	content: "\e842";
}
.icon-phone3:before {
	content: "\e843";
}
.icon-mobile3:before {
	content: "\e844";
}
.icon-mouse:before {
	content: "\e845";
}
.icon-directions:before {
	content: "\e846";
}
.icon-mail6:before {
	content: "\e847";
}
.icon-paperplane2:before {
	content: "\e848";
}
.icon-pencil3:before {
	content: "\e849";
}
.icon-feather2:before {
	content: "\e84a";
}
.icon-paperclip:before {
	content: "\e84b";
}
.icon-drawer4:before {
	content: "\e84c";
}
.icon-reply2:before {
	content: "\e84d";
}
.icon-reply-all:before {
	content: "\e84e";
}
.icon-forward5:before {
	content: "\e84f";
}
.icon-user7:before {
	content: "\e850";
}
.icon-users4:before {
	content: "\e851";
}
.icon-user-add:before {
	content: "\e852";
}
.icon-vcard:before {
	content: "\e853";
}
.icon-export:before {
	content: "\e854";
}
.icon-location4:before {
	content: "\e855";
}
.icon-map3:before {
	content: "\e856";
}
.icon-compass2:before {
	content: "\e857";
}
.icon-location5:before {
	content: "\e858";
}
.icon-target2:before {
	content: "\e859";
}
.icon-share2:before {
	content: "\e85a";
}
.icon-sharable:before {
	content: "\e85b";
}
.icon-heart5:before {
	content: "\e85c";
}
.icon-heart6:before {
	content: "\e85d";
}
.icon-star5:before {
	content: "\e85e";
}
.icon-star6:before {
	content: "\e85f";
}
.icon-thumbsup:before {
	content: "\e860";
}
.icon-thumbsdown:before {
	content: "\e861";
}
.icon-chat2:before {
	content: "\e862";
}
.icon-comment:before {
	content: "\e863";
}
.icon-quote:before {
	content: "\e864";
}
.icon-house:before {
	content: "\e865";
}
.icon-popup:before {
	content: "\e866";
}
.icon-search4:before {
	content: "\e867";
}
.icon-flashlight:before {
	content: "\e868";
}
.icon-printer:before {
	content: "\e869";
}
.icon-bell2:before {
	content: "\e86a";
}
.icon-link2:before {
	content: "\e86b";
}
.icon-flag2:before {
	content: "\e86c";
}
.icon-cog3:before {
	content: "\e86d";
}
.icon-tools:before {
	content: "\e86e";
}
.icon-trophy2:before {
	content: "\e86f";
}
.icon-tag3:before {
	content: "\e870";
}
.icon-camera5:before {
	content: "\e871";
}
.icon-megaphone2:before {
	content: "\e872";
}
.icon-moon2:before {
	content: "\e873";
}
.icon-palette:before {
	content: "\e874";
}
.icon-leaf2:before {
	content: "\e875";
}
.icon-music3:before {
	content: "\e876";
}
.icon-music4:before {
	content: "\e877";
}
.icon-new:before {
	content: "\e878";
}
.icon-graduation:before {
	content: "\e879";
}
.icon-book3:before {
	content: "\e87a";
}
.icon-newspaper3:before {
	content: "\e87b";
}
.icon-bag:before {
	content: "\e87c";
}
.icon-airplane2:before {
	content: "\e87d";
}
.icon-lifebuoy:before {
	content: "\e87e";
}
.icon-eye4:before {
	content: "\e87f";
}
.icon-clock5:before {
	content: "\e880";
}
.icon-microphone:before {
	content: "\e881";
}
.icon-calendar5:before {
	content: "\e882";
}
.icon-bolt:before {
	content: "\e883";
}
.icon-thunder:before {
	content: "\e884";
}
.icon-droplet2:before {
	content: "\e885";
}
.icon-cd:before {
	content: "\e886";
}
.icon-briefcase2:before {
	content: "\e887";
}
.icon-air:before {
	content: "\e888";
}
.icon-hourglass:before {
	content: "\e889";
}
.icon-gauge:before {
	content: "\e88a";
}
.icon-language:before {
	content: "\e88b";
}
.icon-network:before {
	content: "\e88c";
}
.icon-key4:before {
	content: "\e88d";
}
.icon-battery:before {
	content: "\e88e";
}
.icon-bucket:before {
	content: "\e88f";
}
.icon-magnet2:before {
	content: "\e890";
}
.icon-drive:before {
	content: "\e891";
}
.icon-cup2:before {
	content: "\e892";
}
.icon-rocket2:before {
	content: "\e893";
}
.icon-brush:before {
	content: "\e894";
}
.icon-suitcase:before {
	content: "\e895";
}
.icon-cone:before {
	content: "\e896";
}
.icon-earth2:before {
	content: "\e897";
}
.icon-keyboard2:before {
	content: "\e898";
}
.icon-browser2:before {
	content: "\e899";
}
.icon-publish:before {
	content: "\e89a";
}
.icon-progress-3:before {
	content: "\e89b";
}
.icon-progress-2:before {
	content: "\e89c";
}
.icon-brogress-1:before {
	content: "\e89d";
}
.icon-progress-0:before {
	content: "\e89e";
}
.icon-sun:before {
	content: "\e89f";
}
.icon-sun2:before {
	content: "\e8a0";
}
.icon-adjust:before {
	content: "\e8a1";
}
.icon-code2:before {
	content: "\e8a2";
}
.icon-screen3:before {
	content: "\e8a3";
}
.icon-infinity:before {
	content: "\e8a4";
}
.icon-light-bulb:before {
	content: "\e8a5";
}
.icon-creditcard:before {
	content: "\e8a6";
}
.icon-database:before {
	content: "\e8a7";
}
.icon-voicemail:before {
	content: "\e8a8";
}
.icon-clipboard2:before {
	content: "\e8a9";
}
.icon-cart4:before {
	content: "\e8aa";
}
.icon-box:before {
	content: "\e8ab";
}
.icon-ticket2:before {
	content: "\e8ac";
}
.icon-rss:before {
	content: "\e8ad";
}
.icon-signal:before {
	content: "\e8ae";
}
.icon-thermometer:before {
	content: "\e8af";
}
.icon-droplets:before {
	content: "\e8b0";
}
.icon-uniE8B1:before {
	content: "\e8b1";
}
.icon-statistics:before {
	content: "\e8b2";
}
.icon-pie2:before {
	content: "\e8b3";
}
.icon-bars3:before {
	content: "\e8b4";
}
.icon-graph:before {
	content: "\e8b5";
}
.icon-lock4:before {
	content: "\e8b6";
}
.icon-lock-open:before {
	content: "\e8b7";
}
.icon-logout:before {
	content: "\e8b8";
}
.icon-login:before {
	content: "\e8b9";
}
.icon-checkmark3:before {
	content: "\e8ba";
}
.icon-cross:before {
	content: "\e8bb";
}
.icon-minus2:before {
	content: "\e8bc";
}
.icon-plus2:before {
	content: "\e8bd";
}
.icon-cross2:before {
	content: "\e8be";
}
.icon-minus3:before {
	content: "\e8bf";
}
.icon-plus3:before {
	content: "\e8c0";
}
.icon-cross3:before {
	content: "\e8c1";
}
.icon-minus4:before {
	content: "\e8c2";
}
.icon-plus4:before {
	content: "\e8c3";
}
.icon-erase:before {
	content: "\e8c4";
}
.icon-blocked2:before {
	content: "\e8c5";
}
.icon-info3:before {
	content: "\e8c6";
}
.icon-info4:before {
	content: "\e8c7";
}
.icon-question3:before {
	content: "\e8c8";
}
.icon-help:before {
	content: "\e8c9";
}
.icon-warning2:before {
	content: "\e8ca";
}
.icon-cycle:before {
	content: "\e8cb";
}
.icon-cw:before {
	content: "\e8cc";
}
.icon-ccw:before {
	content: "\e8cd";
}
.icon-shuffle2:before {
	content: "\e8ce";
}
.icon-arrow:before {
	content: "\e8cf";
}
.icon-arrow2:before {
	content: "\e8d0";
}
.icon-retweet:before {
	content: "\e8d1";
}
.icon-loop4:before {
	content: "\e8d2";
}
.icon-history2:before {
	content: "\e8d3";
}
.icon-back:before {
	content: "\e8d4";
}
.icon-switch2:before {
	content: "\e8d5";
}
.icon-list4:before {
	content: "\e8d6";
}
.icon-add-to-list:before {
	content: "\e8d7";
}
.icon-layout:before {
	content: "\e8d8";
}
.icon-list5:before {
	content: "\e8d9";
}
.icon-text:before {
	content: "\e8da";
}
.icon-text2:before {
	content: "\e8db";
}
.icon-document:before {
	content: "\e8dc";
}
.icon-docs:before {
	content: "\e8dd";
}
.icon-landscape:before {
	content: "\e8de";
}
.icon-pictures:before {
	content: "\e8df";
}
.icon-video2:before {
	content: "\e8e0";
}
.icon-music5:before {
	content: "\e8e1";
}
.icon-folder2:before {
	content: "\e8e2";
}
.icon-archive:before {
	content: "\e8e3";
}
.icon-trash3:before {
	content: "\e8e4";
}
.icon-upload4:before {
	content: "\e8e5";
}
.icon-download4:before {
	content: "\e8e6";
}
.icon-disk2:before {
	content: "\e8e7";
}
.icon-install:before {
	content: "\e8e8";
}
.icon-cloud4:before {
	content: "\e8e9";
}
.icon-upload5:before {
	content: "\e8ea";
}
.icon-bookmark2:before {
	content: "\e8eb";
}
.icon-bookmarks2:before {
	content: "\e8ec";
}
.icon-book4:before {
	content: "\e8ed";
}
.icon-play5:before {
	content: "\e8ee";
}
.icon-pause4:before {
	content: "\e8ef";
}
.icon-record:before {
	content: "\e8f0";
}
.icon-stop4:before {
	content: "\e8f1";
}
.icon-next2:before {
	content: "\e8f2";
}
.icon-previous2:before {
	content: "\e8f3";
}
.icon-first2:before {
	content: "\e8f4";
}
.icon-last2:before {
	content: "\e8f5";
}
.icon-resize-enlarge:before {
	content: "\e8f6";
}
.icon-resize-shrink:before {
	content: "\e8f7";
}
.icon-volume:before {
	content: "\e8f8";
}
.icon-sound3:before {
	content: "\e8f9";
}
.icon-mute:before {
	content: "\e8fa";
}
.icon-flow-cascade:before {
	content: "\e8fb";
}
.icon-flow-branch:before {
	content: "\e8fc";
}
.icon-flow-tree:before {
	content: "\e8fd";
}
.icon-flow-line:before {
	content: "\e8fe";
}
.icon-flow-parallel:before {
	content: "\e8ff";
}
.icon-arrow-left4:before {
	content: "\e900";
}
.icon-arrow-down4:before {
	content: "\e901";
}
.icon-arrow-up-upload:before {
	content: "\e902";
}
.icon-arrow-right4:before {
	content: "\e903";
}
.icon-arrow-left5:before {
	content: "\e904";
}
.icon-arrow-down5:before {
	content: "\e905";
}
.icon-arrow-up4:before {
	content: "\e906";
}
.icon-arrow-right5:before {
	content: "\e907";
}
.icon-arrow-left6:before {
	content: "\e908";
}
.icon-arrow-down6:before {
	content: "\e909";
}
.icon-arrow-up5:before {
	content: "\e90a";
}
.icon-arrow-right6:before {
	content: "\e90b";
}
.icon-arrow-left7:before {
	content: "\e90c";
}
.icon-arrow-down7:before {
	content: "\e90d";
}
.icon-arrow-up6:before {
	content: "\e90e";
}
.icon-arrow-right7:before {
	content: "\e90f";
}
.icon-arrow-left8:before {
	content: "\e910";
}
.icon-arrow-down8:before {
	content: "\e911";
}
.icon-arrow-up7:before {
	content: "\e912";
}
.icon-arrow-right8:before {
	content: "\e913";
}
.icon-arrow-left9:before {
	content: "\e914";
}
.icon-arrow-down9:before {
	content: "\e915";
}
.icon-arrow-up8:before {
	content: "\e916";
}
.icon-arrow-right9:before {
	content: "\e917";
}
.icon-arrow-left10:before {
	content: "\e918";
}
.icon-arrow-down10:before {
	content: "\e919";
}
.icon-arrow-up9:before {
	content: "\e91a";
}
.icon-uniE91B:before {
	content: "\e91b";
}
.icon-arrow-left11:before {
	content: "\e91c";
}
.icon-arrow-down11:before {
	content: "\e91d";
}
.icon-arrow-up10:before {
	content: "\e91e";
}
.icon-arrow-right10:before {
	content: "\e91f";
}
.icon-menu4:before {
	content: "\e920";
}
.icon-ellipsis:before {
	content: "\e921";
}
.icon-dots:before {
	content: "\e922";
}
.icon-dot:before {
	content: "\e923";
}
.icon-cc:before {
	content: "\e924";
}
.icon-cc-by:before {
	content: "\e925";
}
.icon-cc-nc:before {
	content: "\e926";
}
.icon-cc-nc-eu:before {
	content: "\e927";
}
.icon-cc-nc-jp:before {
	content: "\e928";
}
.icon-cc-sa:before {
	content: "\e929";
}
.icon-cc-nd:before {
	content: "\e92a";
}
.icon-cc-pd:before {
	content: "\e92b";
}
.icon-cc-zero:before {
	content: "\e92c";
}
.icon-cc-share:before {
	content: "\e92d";
}
.icon-cc-share2:before {
	content: "\e92e";
}
.icon-danielbruce:before {
	content: "\e92f";
}
.icon-danielbruce2:before {
	content: "\e930";
}
.icon-github6:before {
	content: "\e931";
}
.icon-github7:before {
	content: "\e932";
}
.icon-flickr5:before {
	content: "\e933";
}
.icon-flickr6:before {
	content: "\e934";
}
.icon-vimeo4:before {
	content: "\e935";
}
.icon-vimeo5:before {
	content: "\e936";
}
.icon-twitter4:before {
	content: "\e937";
}
.icon-twitter5:before {
	content: "\e938";
}
.icon-facebook5:before {
	content: "\e939";
}
.icon-facebook6:before {
	content: "\e93a";
}
.icon-facebook7:before {
	content: "\e93b";
}
.icon-googleplus6:before {
	content: "\e93c";
}
.icon-googleplus7:before {
	content: "\e93d";
}
.icon-pinterest3:before {
	content: "\e93e";
}
.icon-pinterest4:before {
	content: "\e93f";
}
.icon-tumblr3:before {
	content: "\e940";
}
.icon-tumblr4:before {
	content: "\e941";
}
.icon-linkedin2:before {
	content: "\e942";
}
.icon-linkedin3:before {
	content: "\e943";
}
.icon-dribbble5:before {
	content: "\e944";
}
.icon-dribbble6:before {
	content: "\e945";
}
.icon-stumbleupon3:before {
	content: "\e946";
}
.icon-stumbleupon4:before {
	content: "\e947";
}
.icon-lastfm3:before {
	content: "\e948";
}
.icon-lastfm4:before {
	content: "\e949";
}
.icon-rdio:before {
	content: "\e94a";
}
.icon-rdio2:before {
	content: "\e94b";
}
.icon-spotify:before {
	content: "\e94c";
}
.icon-spotify2:before {
	content: "\e94d";
}
.icon-qq:before {
	content: "\e94e";
}
.icon-instagram3:before {
	content: "\e94f";
}
.icon-dropbox:before {
	content: "\e950";
}
.icon-evernote:before {
	content: "\e951";
}
.icon-flattr2:before {
	content: "\e952";
}
.icon-skype2:before {
	content: "\e953";
}
.icon-skype3:before {
	content: "\e954";
}
.icon-renren:before {
	content: "\e955";
}
.icon-sina-weibo:before {
	content: "\e956";
}
.icon-paypal4:before {
	content: "\e957";
}
.icon-picasa:before {
	content: "\e958";
}
.icon-soundcloud3:before {
	content: "\e959";
}
.icon-mixi:before {
	content: "\e95a";
}
.icon-behance:before {
	content: "\e95b";
}
.icon-circles:before {
	content: "\e95c";
}
.icon-vk:before {
	content: "\e95d";
}
.icon-smashing:before {
	content: "\e95e";
}
